.picker {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  user-select: none;
  border-style: solid;
  border-width: thin;
  height: 105px;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columnContainer {
  color: black;
  display: inline-block;
  width: 100px;
  border-color: black;
  font-size: 30px;
  touch-action: none;
  overflow: hidden;
  height: 105px;
  position: relative;
}

.column {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  width: 100%;
}

.reticule {
  position: absolute;
  width: 80%;
  margin: 0;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-color: rgba(109, 202, 236, 1);
}

.cell {
  text-align: center;
}

.cellOdd {
  text-align: center;
  /* background-color: rgba(200, 200, 200, 0.5); */
}

.cellMiddle {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
